html, body {
    height: 100%;
    overflow: hidden;
    scrollbar-width: none; /* For Firefox */
}

.columns {
    height: 90%;
}

.column {
    display: flex;
    flex-direction: column;
}

.videoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.videoContainer .fixed-grid,
#queuebucket {
    overflow: auto;
    overflow-x: hidden;
}

.player {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

button:focus {
    outline: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.bar {
    margin-top: 2px;
    width: 100%;
    height: 3px;
    background: #333;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.bar:hover {
    background: #5a5a5a;
}

.progress {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #ff4d4d, #ff9a3c);
    border-radius: 6px;
}

.handle {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px #000;
    pointer-events: none;
}

.card {
    background-color: rgb(31, 31, 37);
    box-shadow: none;
}

.videoContainer .grid .cell {
    max-width: 100%;
    overflow: hidden;
}

.videoContainer .grid .card .columns {
    flex-wrap: nowrap;
}

.videoContainer .grid .card .column {
    min-width: 0;
}

.currentlyPlaying,
.currentlyPlayingAlt,
.currentlyPlaying div,
.currentlyPlaying p,
.currentlyPlayingAlt div,
.currentlyPlayingAlt p {
    color: white;
}

.currentlyPlaying {
    background: linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.currentlyPlayingAlt {
    background: linear-gradient(302deg, rgb(44, 130, 163) 0%, rgba(87, 199, 180, 1) 50%, rgba(83, 237, 116, 1) 100%);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
}

.is-48x48{
    overflow: hidden;
    border-radius: 6px;
}

.rawimage{
    filter: blur(var(--blur-amount, 0.3px));
}

.media-content {
    display: flex;
    margin-top: 4px;
    min-width: 0;
}

.text-container {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.text-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.musicButton {
    padding: 11px 1px 0 0;
    cursor: pointer;
}

/* Scrollbar styling */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.fixed-grid::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.fixed-grid::-webkit-scrollbar-thumb {
    background-color: rgb(46, 46, 55);
    border-radius: 4px;
}

.fixed-grid::-webkit-scrollbar-thumb:hover {
    background-color: rgb(55, 55, 65);
}

.fixed-grid::-webkit-scrollbar-track,
.fixed-grid::-webkit-scrollbar-corner {
    background: transparent;
}
