html, body {
    height: 100%;
}

.columns {
    height: 90%;
}

.column {
    display: flex;
    flex-direction: column;
}

.videoContainer {
    flex: 1;
}

#player{
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.bottom {
    height: 10%;
    display: flex;
    align-items: center;
}

button:focus {
    outline: none;
}
