html, body {
    height: 100%;
}

.columns {
    height: 90%;
}

.column {
    display: flex;
    flex-direction: column;
}

.videoContainer {
    flex: 1;
}

.player{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

#queuebucket {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.queuecard {
    background-color: #393d46;
}

button:focus {
    outline: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.bar {
    margin-top: 7px;
    width: 100%;
    height: 3px;
    background:  #333;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.bar:hover {
    background: #5a5a5a;
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #ff4d4d, #ff9a3c);
    width: 0%;
    border-radius: 6px;
}

.handle {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px #000;
    pointer-events: none;
}

.image{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 6px;
    background-color: rgb(142, 142, 162);
}

.rawimage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}