html, body {
    height: 100%;
}

.columns {
    height: 90%;
}

.column {
    display: flex;
    flex-direction: column;
}

.videoContainer {
    flex: 1;
}

.player{
    height: 100%;
    width: 100%;
    border-radius: 17px;
}

.bottom {
    height: 10%;
    display: flex;
    align-items: center;
}

button:focus {
    outline: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

