html, body {
    height: 100%;
}

.columns {
    height: 90%;
}

.column {
    display: flex;
    flex-direction: column;
}

.videoContainer {
    flex: 1;
}

.player{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

#queuebucket {
    max-height: 66.4vh;
    overflow-y: auto;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.bar {
    margin-top: 2px;
    width: 100%;
    height: 3px;
    background:  #333;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.bar:hover {
    background: #5a5a5a;
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #ff4d4d, #ff9a3c);
    width: 0%;
    border-radius: 6px;
}

.handle {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px #000;
    pointer-events: none;
}

.card{
    background-color: rgb(31, 31, 37);
    box-shadow: none;
}

.currentlyPlaying div,
.currentlyPlaying p {
    color: white;
}

.currentlyPlayingAlt div,
.currentlyPlayingAlt p {
    color: white;
}

.currentlyPlaying {
    background: linear-gradient(302deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.currentlyPlayingAlt {
    background: linear-gradient(302deg, rgb(44, 130, 163) 0%, rgba(87, 199, 180, 1) 50%, rgba(83, 237, 116, 1) 100%);
}

.image img{
    overflow: hidden;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(0.35px)
}

.media-content{
    margin-top: 4px;
}

.musicButton{
    padding-top: 11px;
    padding-right: 1px;
    cursor: pointer;
}